.c-black{
    color:black;
}
.c-grey{
    color:grey;
}
.c-green{
    color: #4caf50;
}
.c-primary{
    color: #488aff;
}
.bold{
    font-weight: bold;
}
.fs-20{
    font-size:20px;
}
.fs-75{
    font-size:75px;
}